{% extends "AsignaYasegura/base_lista.html" %}
{% load static %}

{% block title %} Lista de digitadores{% endblock %} 

{% block tipo %}<h3 class="bock-center text-center" style="font-weight: bold;">Digitadores</h3>{% endblock %}

{% block menu%}
      <li ><a href="{% url 'AsignaYasegura:Menu' %}">Avance de Procesos</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Digitadores <b class="caret"></b></a>
        <ul class="dropdown-menu">
           <li><a href="{% url 'AsignaYasegura:digitador_registrar' %}">Registrar Digitador</a></li>
            <li ><a href="/verdigitador/">Ver Información/permisos digitadores</a></li>
            <li class="active" ><a href="#">Editar Información/permisos digitadores</a></li>
            <li><a href="#">Eliminar digitador</a></li>
        </ul>
      </li>
      <li><a href="#">Ejecutar Asignación de cupos</a></li>
     <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Estudiantes <b class="caret"></b></a>
        <ul class="dropdown-menu">
             <li><a href="#">Registrar padres de familia</a></li>
            <li><a href="#">Registrar Estudiantes</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Casos especiales <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Por zonas</a></li>
          <li><a href="#">Por regiones</a></li>
          <li><a href="#">General</a></li>
        </ul>
      </li>
{% endblock %}

{%block encabezadotablas%}
        <th>N°</th>
        <th>DNI </th>
        <th>NOMBRE</th>
        <th>APELLIDOS</th>
        <th>DIRECCION</th>
        <th>TELEFONO</th>
        <th>Registrar padres/estudiantes</th>
        <th>Registrar instituciones</th>
        <th>Inspecciones</th>
        <th>EDITAR</th>
{% endblock %}
{%block elementostablas%}
        <td>{{ forloop.counter   }}</td>
        <td>{{ registro.ci      }}</td>
        <td>{{ registro.nombre   }}</td>
        <td>{{ registro.apellidos}}</td>
        <td>{{ registro.direccion}}</td >
        <td>{{ registro.telefono }}</td>
        <td>{{ registro.padres_estudiantes}}</td>
        <td>{{ registro.Registrar_instituciones}}</td >
        <td>{{ registro.Inspecciones }}</td>
        <td><a class="btn btn-primary"   href="{% url 'AsignaYasegura:digitador_editarU'  registro.ci %}" 
          value="Editar" class="btn btn-primary btn-sm"  >editar</a></td>
        {% endblock %}
