{% extends "AsignaYasegura/base_digitadores.html" %}
{% load static %}
{% block title %} Menu Digitador {% endblock %} 

{% block menu%}
  <li class="active"><a href="{% url 'AsignaYasegura:Menu' %}">Información general</a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Instituciones <b class="caret"></b></a>
    <ul class="dropdown-menu">
    	<li><a href="{% url 'AsignaYasegura:Adquisicion_datos' %}">Registrar Instituciones</a></li>
    	<li><a href="{% url 'AsignaYasegura:Instituciones' %}">Ver Informacion Instituciones</a></li>
    	<li><a href="{% url 'AsignaYasegura:Institucion_eliminar' %}">Eliminar Instituciones</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Estudiantes <b class="caret"></b></a>
    <ul class="dropdown-menu">
       <li><a href="{% url 'AsignaYasegura:Registrar_PPFF' %}">Registrar Representante</a></li>
       <li><a href="{% url 'AsignaYasegura:Registrar_estudiante' %}">Registrar estudiantes</a></li>
    </ul>
  </li>
{% endblock %}
{% block contenttitle %} Bienvenidos {% endblock %}
{% block content %} 
<div class="row text-center">
	<div class="container">
	<h1>Cronograma de actividades asignadas</h1>
	{% if mjsexitoso %}
    	{{mjsexitoso|capfirst}}
	{% endif %}
	{% if error %}
    	{{error|capfirst}}
	{% endif %}
	{% if errorcontrasena %}
        {{ errorcontrasena |capfirst}}
    {% endif %}
	{% if mjscontrasena %}
        {{ mjscontrasena |capfirst}}
    {% endif %}
	<div class="block-center ">
	<table class="table table-responsive table-striped table-hover table-bordered ">
  		<thead>
		    <tr>
		      <th>#</th>
		      <th>Fecha inicio-fin</th>
		      <th>Actividad</th>
		      <th> Involucrados</th>
		    </tr>
		 </thead>
		<tbody>
			<tr>
			  <th scope="row">1</th>
			  <td>	</td>
			  <td>	</td>
			  <td>	</td>
			</tr>
			<tr>
			  <th scope="row">2</th>
			  <td>	</td>
			  <td>	</td>
			  <td>	</td>
			</tr>
			<tr>
			  <th scope="row">3</th>
			  <td>	</td>
			  <td>	</td>
			  <td>	</td>
			</tr>
			<tr>
			  <th scope="row">4</th>
			  <td>	</td>
			  <td>	</td>
			  <td>	</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
</div>

<div class="row text-center">
	<h1>Indicaciones registro de instituciones</h1>	
	<br/><br/><br/><br/><br/><br/>
</div>

<div class="row text-center">
	<h1>Instituciones asignadas </h1>	
	<br/><br/><br/><br/><br/><br/>
</div>

{% endblock %}