{% extends "AsignaYasegura/base.html" %}
{% load static %}
{% block title %} Registro digitador {% endblock %} 

{% block extra-style %}
<link href="{% static 'css/formulario.css'  %}" rel="stylesheet">
{% endblock %}
{% block menu%}
      <li ><a href="{% url 'AsignaYasegura:Menu' %}">Avance de Procesos</a></li>
      <li class="dropdown active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Digitadores <b class="caret"></b></a>
        <ul class="dropdown-menu">
           <li class="active"><a href="{% url 'AsignaYasegura:digitador_registrar' %}">Registrar Digitador</a></li>
           <li><a href="/verdigitador/">Ver Información/permisos digitadores</a></li>
           <li><a href="{% url 'AsignaYasegura:digitador_editar' %}" >Editar Información/permisos digitadores</a></li>
          <li><a href="{% url 'AsignaYasegura:digitador_eliminar' %}">Eliminar digitador</a></li>
          
        </ul>
      </li>
            <li><a href="{% url 'AsignaYasegura:Admin_ejecutar' %}">Ejecutar Asignación de cupos</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Casos especiales <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Por zonas</a></li>
          <li><a href="#">Por regiones</a></li>
          <li><a href="#">General</a></li>
        </ul>
      </li>
{% endblock %}

{% block content %} 
<div class="container">
   <H2 class="text-center">Registro de  digitador </H2>
    <form class="form-signin" action="{% url 'AsignaYasegura:digitador_registrar' %}" method="post">
        <div class="text-center" >
            {% if mjsexitoso %}
                {{mjsexitoso|capfirst}}
            {% endif %}
            {% if error %}
              {{error }}
            {% endif %} 
        </div>
         <div class="row">
        <div class="col-lg-offset-3 col-lg-6 ">
        <div id="formulario" >
            {% csrf_token %}
            {{ form.as_p }}
        </div>
      </div>
    </div>
       
        <div class="bock-center text-center">
            <center><input class="btn btn-primary" type="submit" value="Añadir digitador" />
            <a type="button" href="{% url 'AsignaYasegura:Menu' %}" class="btn btn-primary btn-danger">Cancelar</a>
            </center>
        </div>
        <div id="formulario" class="text-center">
        
        </div>
    </form>
</div>
{% endblock %}