{% extends "AsignaYasegura/base_digitadores.html" %}
{% load static %}

{% block title %} Registro representante {% endblock %} 

{% block extra-style %}
<link href="{% static 'css/formulario.css'  %}" rel="stylesheet">
{% endblock %}

{% block menu%}
  <li ><a href="{% url 'AsignaYasegura:Menu' %}">Información general</a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Instituciones <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="{% url 'AsignaYasegura:Adquisicion_datos' %}">Registrar Instituciones</a></li>
      <li><a href="{% url 'AsignaYasegura:Instituciones' %}">Editar Informacion Instituciones</a></li>
      <li><a href="{% url 'AsignaYasegura:Institucion_eliminar' %}">Eliminar Instituciones</a></li>
    </ul>
  </li>
   <li class="dropdown active">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Estudiantes <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li class="active"><a href="{% url 'AsignaYasegura:Registrar_PPFF' %}">Registrar Representante</a></li>
      <li ><a href="{% url 'AsignaYasegura:Registrar_estudiante' %}">Registrar estudiantes</a></li>
    </ul>
  </li>
{% endblock %}

{% block contenttitle %}Registro representante {% endblock %}

{% block content %} 
<div class="container">
  <div class="text-center" >
    {% if mjsexitoso or mjsregistrolocalizacion %}
      <div class="modal fade" id="mostrarmodalestadoOK" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button href="{% url 'AsignaYasegura:digitador_registrar' %}" type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
              <h3 class="modal-title" id="myModalLabel">Estado registro digitador</h3>
            </div>
            <div class="modal-body">
              {%if mjsexitoso %}
                <form class="form-signin" action="{% url 'AsignaYasegura:Registrar_PPFFgeolocalizacion' %}" method="post">
                  {% csrf_token %}
                  <h4>{{mjsexitoso|capfirst}}</h4>
                  <h3>Ahora requerimos que porfavor coloque el puntero rojo en el mapa. </h3>
                  <input name="direccion" value="{{direccion}}" style="display : none;" readonly >
                  <input name="infoadd"  value="{{infoadd}}" style="display : none;" readonly >
                  <input name="sinlatitud"  value="1" style="display : none;" readonly >
                  <input class="btn btn-danger" type="submit" value="Registrar geolocalización" />
                </form>
              {% else %}
                <h4>{{mjsregistrolocalizacion|capfirst}}</h4>
              {% endif %}
            </div>
            <div class="modal-footer">
              <a data-dismiss="modal" class="btn btn-danger">Continuar registrando padres de familia</a>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if error %}
      <div class="modal fade" id="mostrarmodalestadoERROR" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button href="{% url 'AsignaYasegura:digitador_registrar' %}" type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
              <h3 class="modal-title" id="myModalLabel">Estado registro digitador</h3>
            </div>
            <div class="modal-body">
              <h4>  {{error|capfirst}}</h4>   
            </div>
            <div class="modal-footer">
              <a data-dismiss="modal" class="btn btn-danger">Cerrar</a>
            </div>
          </div>
        </div>
      </div> 
    {% endif %} 
  </div>
  <form class="form-signin" action="{% url 'AsignaYasegura:Registrar_PPFF' %}" method="post">
    <div class="row"> 
      <div class="col-md-offset-3 col-md-6 ">
        <div id="formulariPADRE" >
          {% csrf_token %}
          {{ form.as_p }}
        </div>
      </div>
    </div>
    <div class="bock-center text-center">
      <center><input class="btn btn-primary" type="submit" value="Añadir {{tipo_objeto}}" />
        <a type="button" href="{% url 'AsignaYasegura:Menu' %}" class="btn btn-primary btn-danger">Cancelar</a>
      </center>
    </div>
  </form>  
</div>

<script>
$(document).ready(function(){
  $("#mostrarmodalestadoOK").modal("show");
  $(".modal-dialog").attr("style","height: 378px; z-index: 2;")
  $("#mostrarmodalestadoERROR").modal("show");
  $(".modal-dialog").attr("style","height: 378px; z-index: 2;")
});
</script>

{% endblock %}