{% extends "AsignaYasegura/base_digitadores.html" %}
{% load static %}
{% block title %} Registro {{tipo_objeto}} {% endblock %} 

{% block extra-style %}
<link href="{% static 'css/formulario.css'  %}" rel="stylesheet">
{% endblock %}

{% block contenttitle %}Registro {{tipo_objeto}} {% endblock %}
{% block content %} 
<div class="container">
    <form class="form-signin" action="{% url 'AsignaYasegura:Registrar_PPFFinicio' %}" method="post">
        <div class="text-center" >
            {% if mjsexitoso %}
                {{mjsexitoso|capfirst}}
            {% endif %}
            {% if error %}
              {{error }}
            {% endif %} 
        </div>
         <div class="row">
        <div class="col-lg-offset-3 col-lg-6 ">
        <div id="formulario" >
            {% csrf_token %}
            {{ form.as_p }}
        </div>
      </div>
    </div>
        <div class="bock-center text-center">
            <center><input class="btn btn-primary" type="submit" value="Añadir {{tipo_objeto}}" />
            <a type="button" href="{% url 'AsignaYasegura:login' %}" class="btn btn-primary btn-danger">Atrás</a>
            </center>
        </div>
    </form>
</div>
{% endblock %}