{% extends "AsignaYasegura/base_digitadores.html" %}
{% load static %}
{% block title %} Registro de estudiante {% endblock %} 

{% block menu%}
      <li ><a href="{% url 'AsignaYasegura:Menu' %}">Información general</a></li>
      <li class="dropdown active">
        <a  href="#" class="dropdown-toggle" data-toggle="dropdown"> Estudiantes  <b class="caret"></b></a>
        <ul class="dropdown-menu">
           <li class="active"><a href="{% url 'AsignaYasegura:registrar_estudiante' %}">Registrar Estudiantes</a></li>
           <li><a href="#">Editar Información estudiantes</a></li>
          <li><a href="#">Eliminar registro de estudiante</a></li>
        </ul>
      </li>
      <li><a href="#">Ver información solicitudes</a></li>
{% endblock %}
{% block contenttitle %} Registro de estudiante {% endblock %}



{% block content %} 
{% if obtener %}
<link href = "{% static 'css/stylemap.css'  %}" rel = "stylesheet" >
<script src = "http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCv2SC4alSoTDCn9bYPyxMTLhiRIUHZgEU" > </script>  
	<div class="row">
		<form action="{% url 'AsignaYasegura:registrar_estudiante' %}" method="POST">
			<div id = "main" class="col-md-6 col-md-offset-3">
				<div class="form-group">
	      			<label for="inputEmail" class="col-md-4 control-label">Dirección:</label>
	      			<div class="col-md-8">
	        			<input class="form-control" id=direccion type=text name=direccionestudiante size="35" value="{{direccion}}" readonly>
	      			</div>
	      		</div>
	      		<div class="form-group">
	      			<label for="inputEmail" class="col-md-4 control-label">Latitud:</label>
	      			<div class="col-md-8">
	        			<input class="form-control" id=latitud type=text name=latitud size="35">
	      			</div>
	      		</div>
	      		<div class="form-group">
	      			<label for="inputEmail" class="col-md-4 control-label">Longitud:</label>
	      			<div class="col-md-8">
	        			<input class="form-control" id=longitud type=text name=longitud size="35">
	      			</div>
	      		</div>
	      	</div>
		 		<div id = "mapDiv" class="col-md-6 ">
		 			<br/>
		 			<div id="map"></div>
		 		</div>

	 	</form>
	</div>  

<script >
var ubicacion = {
    "sitio": [{
        "location": document.getElementById('direccion').value,
    }],
};
ubicacion.sitio[0].location=document.getElementById('direccion').value;	
console.log(ubicacion.sitio[0].location);


</script> <script src = "{% static 'js/helper.js'  %}" > </script>
{%else %}
<script>		
	function controla(f){
		if(f.checked==true){
			document.getElementById('contr2').cheked=false;
			document.getElementById('contr2').disabled=true;
			document.getElementById('contr3').disabled=false;
			document.getElementById('contr4').disabled=false;
			document.getElementById('contr5').disabled=false;
		}
		else{
			document.getElementById('contr2').cheked=false;
			document.getElementById('contr2').disabled=false;
			document.getElementById('contr3').disabled=true;
			document.getElementById('contr4').disabled=true;
			document.getElementById('contr5').disabled=true;
			document.getElementById('contr3').value="";
			document.getElementById('contr4').value="";
			document.getElementById('contr5').value="";
		}
	}
	function controlb(f){
		if(f.checked==true){
			document.getElementById('contr1').cheked=false;
			document.getElementById('contr1').disabled=true;	
		}else{
			document.getElementById('contr1').cheked=false;
			document.getElementById('contr1').disabled=false;
		}
	}
</script>
	<br>
    <form action="{% url 'AsignaYasegura:registrar_estudiante' %}" method="POST">
    	{% csrf_token %}
		<div class="row">
			<div class="col-md-6 col-md-offset-3 "  id=izquierda style="float:left">
				<div id=estudiante>
					<br><font color="#CC0000"><strong>Información general del estudiante</strong></font><br><br>
					<table>
						<tr><td>Número de matrícula:</td><td><input type=text name=matricula size="35" required></td></tr>
						<tr><td>Número de cédula:</td><td><input type=text name=cedula size="35" required></td></tr>
						<tr><td>Apellidos:</td><td><input type=text name=apellidosestudiante size="35" required></td></tr>
						<tr><td>Nombres:</td><td><input type=text name=nombresestudiante size="35" required></td></tr>
						<tr><td>Fecha de nacimiento:</td><td><input type=text name=nacimientoestudiante size="35" required></td></tr>
						<tr><td>Dirección:</td><td><input id=direccion type=text name=direccionestudiante size="35" required></td>
						<tr><td>Curso:</td><td><select id="optionlist" name=curso>
		            				<option value="1">Primer año básico</option>
		            				<option value="2">Segundo año básico</option>
		            				<option value="3">Tercer año básico</option>3 - Antigua Dirección 	Provincial de Educación-Colegio Vicente Rocafuerte</option>
		            				<option value="4">Cuarto año básico</option>
		            				<option value="5">Quinto año básico</option>
		            				<option value="6">Sexto año básico</option>
		            				<option value="7">Séptimo año básico</option>
		            				<option value="8">Octavo año básico</option>
		            				<option value="9">Noveno año básico</option>
		            				<option value="10">Décimo año básico</option>
		            				<option value="11">Primero bachillerato</option>
							<option value="12">Segundo bachillerato</option>
		            				<option value="13">Tercero bachillerato</option></select></td></tr>
						<tr><td>Capacidades especiales:</td><td>Sí<input type="checkbox" id="contr1" name="discapacidad[]" value="1" onClick="controla(this)">    No<input type="checkbox" id="contr2" name="discapacidad[]" value="2" onClick="controlb(this)"></td></tr>
						<tr><td>Código del Conadis:</td><td><input type=text id="contr4" name=conadis size="35" disabled></td></tr>
						<tr><td>Tipo de discapacidad:</td><td><input type=text id="contr5" name=conadis size="35" disabled></td></tr>
						<tr><td>Porcentaje de discapacidad:</td><td><input type=text id="contr3" name=porcentajed size="35" disabled></td></tr>       
					</table> 
				</div>		
				<br><br>
			</div>
    	</div>	
    	<div class="row text-center block-center">
    		<input type=submit value=Registrar>	<input type=reset value=Cancelar>
		</div>
	</form>
{% endif %}
<script>
$(document).ready(function(){
    $("#mostrarmodal").modal("show");
	$(".modal-dialog").attr("style","height: 378px; z-index: 2;")
});
</script>
{% endblock %}