{% extends "AsignaYasegura/base_digitadores.html" %}
{% load static %}
{% block title %} Registro {{tipo_objeto}} {% endblock %} 

{% block extra-style %}
<link href="{% static 'css/formulario.css'  %}" rel="stylesheet">
{% endblock %}

{% block contenttitle %}Registro {{tipo_objeto}} {% endblock %}
{% block content %} 
<div class="container">
    <form class="form-signin" action="{% url 'AsignaYasegura:Registrar_PPFFinicio' %}" method="post">
        <div class="text-center" >
            {% if error %}
                <div class="modal fade" id="mostrarmodalregistro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                   <div class="modal-dialog" role="document">
                      <div class="modal-content">
                         <div class="modal-header">
                            <button href="/login/" type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title" id="myModalLabel">Registro</h3>
                        </div>
                        <div class="modal-body">
                            <h4> {{error}}</h4>   
                        </div>
                        <div class="modal-footer">
                            <a data-dismiss="modal" class="btn btn-danger">Cerrar</a>
                        </div>
                     </div>
                   </div>
                </div>
            {% endif %}  
        </div>
         <div class="row">
        <div class="col-lg-offset-2 col-lg-9 ">
        <div id="formulario" >
            {% csrf_token %}
            {{ form.as_p }}
        </div>
      </div>
    </div>
        <div class="bock-center text-center">
            <center><input class="btn btn-primary" type="submit" value="Registrarme" />
            <a type="button" href="{% url 'AsignaYasegura:login' %}" class="btn btn-primary btn-danger">Atrás</a>
            </center>
        </div>
    </form>
</div>
<script>
$(document).ready(function(){
    $("#mostrarmodalregistro").modal("show");
    $(".modal-dialog").attr("style","height: 378px; z-index: 2;")
});
</script>
{% endblock %}