{% extends "AsignaYasegura/base_digitadores.html" %}
{% load static %}

{% block title %} Menu Representante {% endblock %} 

{% block menu%}
  <li ><a href="{% url 'AsignaYasegura:Menu' %}">Información general</a></li>
  <li class="active"><a href="{% url 'AsignaYasegura:Padre_registrargeolocalizacion' %}">Registrar/Ver ubicación en el mapa</a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Estudiantes  <b class="caret"></b></a>
    <ul class="dropdown-menu">
       <li><a href="{% url 'AsignaYasegura:registrar_estudiante' %}">Registrar Estudiantes</a></li>
     <li><a href="{% url 'AsignaYasegura:estudiantes' %}">Editar Informacion estudiantes</a></li>
      <li><a href="#">Eliminar registro de estudiante</a></li>
    </ul>
  </li>
  <li><a href="#">Ver información solicitudes</a></li>
{% endblock %}

{% block contenttitle %} Registrar ubicación en el mapa {% endblock %}

{% block content %}
   
<link href = "{% static 'css/stylemap.css'  %}" rel = "stylesheet" >
<script src = "http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCv2SC4alSoTDCn9bYPyxMTLhiRIUHZgEU" > </script>  
	<div class="row">
		<form action="{% url 'AsignaYasegura:Padre_registrargeolocalizacion' %}" method="POST">
			<div id = "main" class="col-md-6 col-md-offset-3">
				{% csrf_token %}
				<input name="sinlatitud"  value="0" style="display : none;" readonly >
				<div class="form-group">
	      			<label for="inputEmail" class="col-md-4 control-label">Dirección:</label>
	      			<div class="col-md-8">
	        			<input class="form-control" id=direccion type=text name=direccionestudiante size="35" value="{{direccion}}" readonly>
	      			</div>
	      		</div>
	      		<div class="form-group">
	      			<label for="inputEmail" class="col-md-4 control-label">Latitud:</label>
	      			<div class="col-md-8">
	        			<input class="form-control" id=latitud type=text name=latitud size="35" readonly="">
	      			</div>
	      		</div>
	      		<div class="form-group">
	      			<label for="inputEmail" class="col-md-4 control-label">Longitud:</label>
	      			<div class="col-md-8">
	        			<input class="form-control" id=longitud type=text name=longitud size="35" readonly="">
	      			</div>
	      		</div>
	      		<div class="form-group">
	      			<div class="col-md-8 col-md-offset-4">
	      			<input name="infoadd"  value="{{infoadd}}" style="visibility:hidden" readonly >
	      			<input id="latitudn"  value="{{latitud}}" style="display: none" readonly >
	      			<input id="longitudn"  value="{{longitud}}" style="display: none" readonly >
	      			</div>
	      		</div>
	      	</div>
	      	<br/>
	      	{% if not mjsactualizar %}
	      	<div class="col-md-4 col-md-offset-5">
	      		<div class="form-group">
	      		 <input class="btn btn-danger block-center" type="submit" value="Registrar geolocalización" />
	      		</div>
	      	</div>
	      	{% endif %}
	 		<div id = "mapDiv" class="col-md-6 ">
	 			<br/>
	 			<div id="map"></div>
	 		</div>
	 	</form>
	</div>  
{% if mjsactualizar %}
    <div class="modal fade" id="mostrarmodalactualizar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog" role="document">
          <div class="modal-content">
             <div class="modal-header">
            	<button href="/login/" type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Ver ubicación.</h3>
        	</div>
         	<div class="modal-body">
              	<h4> usted ya registro su ubicación. Desea ver su ubicación actual??</h4>   
            <a type="button" href="{% url 'AsignaYasegura:Menu' %}" class="btn btn-danger block-center">Menú</a>
         	</div>
         	<div class="modal-footer">
            	<a data-dismiss="modal" class="btn btn-danger">Ver ubicación actual</a>
         	</div>
         </div>
       </div>
    </div>

<script >
$(document).ready(function(){
$("#mostrarmodalactualizar").modal("show");
$(".modal-dialog").attr("style","height: 378px; z-index: 2;")
});

</script>
</script> <script src = "{% static 'js/estaticomapa.js'  %}" > </script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCv2SC4alSoTDCn9bYPyxMTLhiRIUHZgEU&callback=initMap" async defer>
    </script>

{% else %}
<script >

var ubicacion = {
    "sitio": [{
        "location": document.getElementById('direccion').value,
    }],
};
ubicacion.sitio[0].location=document.getElementById('direccion').value;	

</script> <script src = "{% static 'js/helper.js'  %}" > </script>

{% endif %}   

{% endblock %}