@charset "utf-8";
/* CSS Document */

.encabezado{
	margin-top: 14px;
	color: red;
}
.nombre{
	color: black;
}


body {
	width:100%; height:100%; 
	}

#titulo {
	min-height: 50px;
	max-height: 250px;
	font-size: 40px;
	text-align:center;
}
#contenido {
	text-align:left;
}
#institucion {
	text-align:left;
	margin: auto;
}
#pdp {
	text-align:center;
	font-style: oblique;
}
#optionlist{
	left: 0%;
	position: relative;
}

